@import "tailwindcss";

:root {
  --font-open-sauce-sans: "OpenSauceSans", sans-serif;
  --primary-color: #053d4c;
  --secondary-color: #01d6a3;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-open-r: var(--font-open-sauce-sans);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
}

@font-face {
  font-family: "OpenSauceSans";
  src: url("/font/OpenSauceSans-Regular.woff2") format("woff2");
}



body {
  font-family: var(--font-open-r);
}

